.wrapper{
    text-align: center;
    padding: 1rem;
}

.brand{
    font-weight: bold;
    font-size: 2rem;
}

.nav{
    ul{
        display: flex;
        justify-content: center;
        li{
            &:hover a{
                color: grey;
            }
            list-style-type: none;
            margin: 20px 0;
            a{
                text-decoration: none;
                padding: 0.5rem 1rem;
                color: rgb(51, 51, 51);
                transition: all 0.3s ease-out;
            }
        }
    }
}